.tableContainer {
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 8rem;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;

}

.frecuencyTableHeading {
    text-align: center;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tableHead {
    background-color: #c7e7ff;
}


.tableBody {
    display:block;
    overflow:auto;
    max-height: 50rem;
    /* height:50rem; */
    width:100%;
}

.tableHead, .tableBody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tableBody tr {

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.tableBody tr td {
  text-align: center;
  padding: 1rem;
  background-color: #f2f8ff;
    outline: darkblue;
}



