@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --primario: #6834a6;
  --blanco: #FFF;
  --negro: #000000;

}


body {
  padding: 0;
  margin: 0;

  font-size: 1.6rem;
  line-height: 1.8;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(73, 73, 73);
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

h4 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  width: 90%;
}

.MathJax_Display {}



.p-chips .p-chips-multiple-container {
  max-height: 30rem;
  overflow-y: scroll;
  width: 50rem;
  padding: 1rem !important;
  border-radius: 1rem;
  font-size: 1.4rem;

}

@media(max-width: 1200px) {
  .p-chips .p-chips-multiple-container {
  width: 40rem;

  }

}

@media(max-width: 768px) {
  .p-chips .p-chips-multiple-container {
  width: 32rem;

  }

}


.p-chips-input-token input {
  font-size: 1.4rem !important;
}

.p-chips .p-chips-multiple-container::-webkit-scrollbar {
  width: 4px;


}

.p-chips .p-chips-multiple-container::-webkit-scrollbar-track {}

.p-chips .p-chips-multiple-container::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
  width: 2px;
  border-radius: 256rem;
}

.p-chips .p-chips-multiple-container::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 196, 196);

}

.p-chips .p-chips-multiple-container::-webkit-scrollbar-corner {}